.scene {
    -fx-background-color: white;
}

.button {
    -jfx-button-type: RAISED;
    -fx-text-fill: white;
    -fx-font: 18px Roboto;
    -fx-background-color: #4285f4;
}

#lesson {
    -fx-background-color: #0f9058;
}

#exam {
    -fx-background-color: #db4437;
}

#right {
    -fx-text-fill: #0f9058;
}

#wrong {
    -fx-text-fill: #db4437;
}